= @offer.title
- if current_user.offers.include? @offer
  %p
    = 'Vous avez postulé à cette offre'
- else
  = link_to 'Postuler à cette offre', candidates_path(:candidate => { :offer_id => @offer } ), :method => :post